@{
    ViewBag.Title = "Навчання";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <div id="education_ajax">
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Content/script/scriptbreaker-multiple-accordion.js")" type="text/javascript"> </script>
    <script language="JavaScript">
        $(document).ready(function () {
            $(".topnav").accordion({
                accordion: true,
                speed: 600
            });
        });
    </script>
        <ul class="topnav" class=box_shdw_right>
            <li>@Ajax.ActionLink("Залікова книжка", "category",new AjaxOptions() { UpdateTargetId = "choose_ajax", InsertionMode = InsertionMode.Replace })</li>
            <li>@Ajax.ActionLink("Категорії", "category", new AjaxOptions() { UpdateTargetId = "choose_ajax", InsertionMode = InsertionMode.Replace })</li>
        </ul>
        <div id="choose_ajax" class="box_shdw_bottom">
            @{ Html.RenderPartial("_Category", Model, Html.ViewData); } 
        </div>
    </div>
}

