@{
    ViewBag.Title = "UploadLesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadLesson</h2>
  

      <div id="dialog" title="Upload files">
      @{ Guid buf=(Guid)ViewBag.ModuleId;}
        @using (Html.BeginForm("Upload", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p><input type="file" id="fileUpload" name="fileUpload" size="23"/> </p>
            <input type="hidden" id="mod_id" name="mod_id" value="@buf" runat="server"/>
            <p><input type="submit" value="Upload file" /></p>
        } 
    </div>
      <p>@ViewBag.Path</p>