@{
    ViewBag.Title = "Помилка завантаження";
}

<h2>Помилка завантаження</h2>


@Html.ActionLink("Повторити завантаження", "UploadLesson", new {courseId=ViewBag.CourseId, moduleId = ViewBag.ModuleId })
@if (ViewBag.ModuleId == Guid.Empty.ToString() || ViewBag.ModuleId==null)
{
    Html.ActionLink("Повернутися до предмету", "Course", new { id = ViewBag.CourseId });
}
else 

{
Html.ActionLink("Повернутися до списку лекцій", "Lesson", new {id = ViewBag.ModuleId });
}