@using DistanceLessons.Models
@{
    ViewBag.Title = "Особистий кабінет";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    DistanceLessons.Models.DataEntitiesManager _db = new DataEntitiesManager();
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"> </script>

    <div id="profile">
        <div id="navigation" style="padding-right:1%;" class="box_shdw_right">
            <div>@Ajax.ActionLink("Особиста інформація", "Information", new AjaxOptions() { UpdateTargetId = "profile_ajax", InsertionMode = InsertionMode.Replace })</div>
        </div>
        <div id="profile_ajax" class="box_shdw_bottom"></div>
    </div>
}
else
{
    <div>Будь-ласка, зареєструйтесь. 
    У випадку, якщо у Вас вже є аккаунт - зайдіть під своїм імя'м.</div>
}