@{
    ViewBag.Title = "ErrorUpload";
}

<h2>ErrorUpload</h2>

невладе завантаження!!!!
@Html.ActionLink("Повторити завантаження", "UploadLesson", new { moduleId = ViewBag.ModuleId })
@Html.ActionLink("Повернутися до списку лекцій", "Lesson", new { id_mod = ViewBag.ModuleId })
