@{
    ViewBag.Title = "Помилка завантаження";
}

<h2>Помилка завантаження</h2>
@{
    string c_id = ViewBag.CourseId;
    string m_id = (ViewBag.ModuleId != null) ? ViewBag.ModuleId : Guid.Empty.ToString();
    
    }

@Html.ActionLink("Повторити завантаження", "UploadLesson", new { courseId = c_id, moduleId =m_id })
