@if (Request.IsAuthenticated) {
    <ul> 
        <li>Привіт, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", null, new { @class = "username" })</li>
        <li>@Html.ActionLink("Вийти", "LogOff", "Account")</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Реєстрація", "Register", "Account")@*, routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Реєстрація" })*@</li>
        <li>@Html.ActionLink("Ввійти", "LogOn", "Account")@*, routeValues: null,htmlAttributes: new { id = "logonLink", data_dialog_title = "Ідентифікація" })*@</li>
    </ul>
}
