<div class="title">
    Новини</div>
<ul>
    @{
        DistanceLessons.Models.DataEntitiesManager _db = new DistanceLessons.Models.DataEntitiesManager();
        foreach (DistanceLessons.Models.News _new in _db.GetNewsThree())
        {
        <li>@_new.Title<div class="prologue">@_new.Text</div>
            <div class="time-author">
                -@_new.User.Login, @_new.Publication</div>
        </li>
        }
    }
</ul>