@{
    if ((int) Session["MessageCount"] != 0)
    {
        <div id="messages">
            <i><font size="2">@Html.Resource("Layout, _NewMessageBox_NewMesseges")</font></i>
            @Html.ActionLink(Session["MessageCount"].ToString(), "Index", "Profile", null, new {@class = "active"})
        </div>
    }
}