@{
    ViewBag.Title = "Сторінка не знайдена";
}

<div>
    <div id="error_body"></div>

    <div>
        <h3>Сторінки по вашому запиту не знайдено</h3>
        <div align="center">[<a href=@ViewBag.RequestedUrl>@ViewBag.RequestedUrl</a>]</div>
        <br/>
        <b>Чому виникає така помилка?</b>
        <br/>
        <p>-Можливо, у вас немає права доступу до сторінки</p>
        <p>-Можливо, сторінки, до якої Ви звертаєтесь - не існує</p>
        <p>-Можливо, на сервері ведуться роботи і сторінка тимчасово не доступна</p>
        <br/>
        <b>Можливі шляхи вирішення проблеми</b><br/>
        <p>-Перевірте введені дані</p>
        <p>-Спробуйте ще раз звернутись до <a href=@ViewBag.RequestedUrl>потрібної Вам адреси</a></p>
        <p>-Зверніться до адміністрації, якщо Ви впевнені що сторінка, до якої ви звертаїтесь - існує</p>
    </div>
</div>

@* Виникає помилка в Веб-кіт браузерах та ІЕ =\ 
  upd: Вирішено, виділенням памяті - 512біт*@
@(new string(' ', 512))