@model DistanceLessons.Models.UserModule

@{
    ViewBag.Title = "Результати тестування";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
Ваш результат тестування з модуля "@Model.Module.Title" <br />
@Model.Passed % - @Model.Module.MaxPoints балів!
 <br />
 @Html.ActionLink("Повернутись у тестувальну", "Index", "Test")

 </h3>
