@model DistanceLessons.Models.Module

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тестування з модуля @Model.Title не проводиться. Останній вказаний час з @Model.DateBeginTesting до @Model.DateEndTesting.</h2>
