@model DistanceLessons.Models.Module

<h2>Тестування з модуля @Model.Title не проводиться.</h2>
 Останній вказаний час з @Model.DateBeginTesting до @Model.DateEndTesting.<br />
  @Html.ActionLink("Повернутись до навчання", "Index", "Education")