@model DistanceLessons.Models.LessonTestAndAnswersModel
<h2>@Html.Resource("Layout, _test_editing")</h2>
@if (Model != null)
{
    foreach (DistanceLessons.Models.TestAndAnswersModel model in Model.TestAndAnswers)
    {
        <div style="margin: 20px 10px; padding:5px; background: rgba(50,50,155,0); border: 1px dotted silver; font-size:95%;">
        @{ Html.RenderPartial("ShowTestPartial", model, Html.ViewData); }
        </div>
    }
}
<div class="item" align="right">
    @Ajax.ActionLink(Html.Resource("Layout, add"), "AddTest", new { id = Model.Lesson.LessonId }, new AjaxOptions() { UpdateTargetId = "testsdiv", InsertionMode = InsertionMode.Replace })
</div>
