@model DistanceLessons.Models.Module

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("Layout, _test_not_prepared") @Model.Title @Html.Resource("Layout, _test_not_prepared2")</h2>
