@{
    ViewBag.Title = Html.Resource("Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.active)
{<h4>@Html.Resource("Active_1") @Html.ActionLink(Html.Resource("Active_2"), "LogOn", "Account")</h4>}
else
{<h4>@Html.Resource("NotActive")</h4>}
    