@{
    ViewBag.Title = "Реєстрація. Запит активації аккаунту.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2>Раді вітати вас</h2>

 <p>Дякуєм за реєстрацію!</p>

 <p>Вам було висланий лист для активації акаунту. Будь-ласка перевірте пошту!</p>
