@model DistanceLessons.Models.Module

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тестування з модуля @Model.Title не можливе. Зверніться до викладача за деталями </h2>
