@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Оповіщення</h2>


<p>Добавити новину</p>

<p>Перегялнути існуючі новини (справа біля кожної буде посилання на видалення)</p>
<p>Написати листа всім студентам</p>
<p>Написати листа всім викладачам</p>
<p>Перевірити пошту</p>

