@using DistanceLessons.Models
@{
    ViewBag.Title = "Особистий кабінет";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Content/script/scriptbreaker-multiple-accordion.js")" type="text/javascript"> </script>
    <script language="JavaScript">
        		    $(document).ready(function() {
        		        $(".topnav").accordion({
        		                accordion: true,
        		                speed: 600
        		            });
        		    });
    </script>

    <div id="profile">
        <ul class="topnav" class=box_shdw_right>
            <li>@Ajax.ActionLink("Особиста інформація", "Information", new AjaxOptions() {UpdateTargetId = "profile_ajax", InsertionMode = InsertionMode.Replace})</li>
            <li>@Html.ActionLink("Detail","Info", new {user=User.Identity.Name})</li>
            <li><a href="#">Меню1</a>
                <ul>@*style="display: block;">*@
                    <li>@* class="active">*@<a href="#">Підменю</a></li>
                    <li><a href="#">підменю</a></li>
                    <li><a href="#">під</a>
                        <ul>
                            <li><a href="#">під-під</a></li>
                            <li><a href="#">пііід</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="profile_ajax" class="box_shdw_bottom"></div>
    </div>
}