@{
    <i><font size="2">Нових повідомлень:</font></i>
    if ((int)Session["MessageCount"] == 0)
    {<a class="passive">0</a>}
    else
    {@Html.ActionLink(Session["MessageCount"].ToString(), "Index", "profile", null, new { @class = "active" })}
}