<div class="title">
    Новини</div>
<ul>
    <li>Hello world!<div class="prologue">
        Some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some...</div>
        <div class="time-author">
            -Admin,19.10.2011 22:10</div>
    </li>
    <li>World is here!<div class="prologue">
        Some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some...</div>
        <div class="time-author">
            -Admin,19.10.2011 22:10</div>
    </li>
    <li>Goodbay world!<div class="prologue">
        Some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some-some...</div>
        <div class="time-author">
            -Admin,19.10.2011 22:10</div>
    </li>
</ul>
</div> 