@{
    ViewBag.Title = "Сторінка не знайдена";
}

<h1>Сторінка не знайдена. Але тут може бути ваша реклама (;</h1>
<p>Не вдалось знайти сторінку по шляху: @ViewBag.RequestedUrl</p>

@* Виникає помилка в Веб-кіт браузерах та ІЕ =\ 
  upd: Вирішено, виділенням памяті - 512біт*@
@(new string(' ', 512))