/* 
ОС-коди:
win - Microsoft Windows
vista - Microsoft Windows Vista
linux - Linux
mac - Mac OS
freebsd - FreeBSD
ipod - iPod Touch
iphone - iPhone
ipad - iPad
webtv - WebTV
j2me - J2ME Devices (аля Opera mini)
blackberry - BlackBerry
android - Google Android
mobile - mobile devices

Браузер-коди:
ie - Internet Explorer
ie8 - Internet Explorer 8.x
ie7 - Internet Explorer 7.x
ie6 - Internet Explorer 6.x
ie5 - Internet Explorer 5.x
gecko - Mozilla, Firefox, Camino
ff2 - Firefox 2
ff3 - Firefox 3
ff3_5 - Firefox 3.5
ff3_6 - Firefox 3.6 new
opera - Opera
opera8 - Opera 8.x
opera9 - Opera 9.x
opera10 - Opera 10.x
konqueror - Konqueror
webkit or safari - Safari, NetNewsWire, OmniWeb, Shiira, Google Chrome
safari3 - Safari 3.x
chrome - Google Chrome
iron - SRWare Iron
*/

html .nav
{
    height: 1%;
}

.gecko #header_logo
{
    border-right: 0px solid white; /*painting piece of distance between blocks*/
}

.gecko #header_upper_right
{
    border-left: 0px solid white;
}

.no_js
{
    display: block;
}
.has_js
{
    display: none;
}
.js .no_js
{
    display: none;
}
.js .has_js
{
    display: block;
}
