/*GLOBAL STYLE*/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    text-shadow: 0px 0px 0px blue;
}

h1,h2,h3,h4,h5,h6
{
    color: black;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    margin: 5px 0;
    text-align: center;
    text-shadow: 1px 1px 0px silver;
}

.error
{
    font-size: 75%;
    color: #555;
    font-style: italic;
}

a
{
    color:silver;
    text-decoration: none;
}

a:hover
{
    color: orange;
}

body
{
    background: white;
    background-image: url('img/background/background.png');
    background-repeat: repeat-x;
    background-position: top left;
    color: white;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
}

#error_body
{
    float: left;
    background: white;
    background-image: url('img/background/error.png');
    background-repeat: no-repeat;
    background-position: top left;
    color: black;
    width: 200px;
    height: 255px;
}

.box_shdw_bottom
{
    width: 75%;
    float: right;
    margin-left: 5px;
    margin-bottom: 25px;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
}

.position_bottom_left
{
    position: absolute;
    top: 300px;
}

.clearfloat
{
    clear: both;
}

.item
{
    margin: 10px 0;
    padding: 5px;
}

.item li
{
    list-style: none;
}

.item a, .item input
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    cursor: pointer;
}

.item a:hover, .item input:hover
{
    background: #eee;
}

.item .current_page
{
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;    color: black;
    background: #eee;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
}

.no_button a, .no_button input
{
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.no_button a:hover, .no_button input:hover
{
    color: orange;
    background: none;
}

#formation
{
    margin: 3%;
}

.editor-label
{
    text-align: right;
    margin: 0;
    font: 14px Arial, Verdana, Sans-Serif;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.editor-field
{
    width: 55%;
    margin: auto;
}

.editor-field .textboxarea_short
{
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
    font: 12px Arial, Verdana, Sans-Serif;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;
    margin: 5px 0;
    color: black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid silver;  
}

.editor-field .textboxarea
{
    min-height: 200px;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    font: 12px Arial, Verdana, Sans-Serif;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;
    margin: 5px 0;
    color: black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid silver;
}

.editor-field .editor
{
    min-width: 300px;
    max-width: 300px;
    font: 12px Arial, Verdana, Sans-Serif;
        font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;
    margin: 5px 0;
    color: black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid silver;    
}

/*news*/
.title
{
    font-size: 130%;
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    background-image: url('img/passive_active/fill_passive.png');
    padding: 0;
}

.prologue
{
    margin: 5px 0;
    padding: 5px;
    border: 1px;
    border-style: dotted;
    border-color: Black;
    font-size: 75%;
    color: #555;
    font-style: italic;
}

.item .prologue
{
    margin: 10px 0;
}

.time-author
{
    font-size: 75%;
    color: #333;
    font-style: normal;
    text-align: right;
}

#up_line
{
    background: white;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    width: 100%;
    height:5px;
    z-index:1;
    position:relative;
}

/*ACTIVE PLACE ON PAGE*/
#container
{
    height: 100%;
    background: white;
    min-width: 827px;
    width: 92%;
    margin: 0 auto 25px; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 0 0 15px 1px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 0 15px 1px rgba(100,100,100,0.5);
    box-shadow: 0 0 15px 1px rgba(100,100,100,0.5);
}

#full_header
{
    width: 100%;
    height:225px;
    z-index:1;
    position:relative;
}

/*HEADER*/
#header
{
    min-width: 827px;
    width: 92%;
    margin: 0 auto; 
}

#header_logo
{
    width: 20%;
    height: 100%;
    margin: auto;
    float: left;
}

#header_upper
{
    width: 80%;
    height: 20%;
    margin: auto;
    float: left;
}

#header_upper .lang
{
    padding: 5px;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    margin-right: 20px;
    float: right;
    background: white;
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
}

#header_upper .lang  > *
{
    margin-right: 5px;
    margin-left: 5px;
}

#ua
{
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_ua.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

#ru
{
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_ru.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

#us
{
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_us.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

#header_middle
{
    width: 80%;
    height: 60%;
    margin: auto;
    float: left;
}

#header_lower
{
    width: 80%;
    height: 20%;
    margin: auto;
    float: left;
}

#header_lower #auth
{
    color: black;
    float: right;
    margin: 18px 20px 0 0;
    background-color: white;
    padding: 10px 15px 6px 20px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    border-right: 1px solid silver;

}

#header_lower #auth ul li
{
    display: inline;
    list-style: none;
    margin: 5px 5px;
}

#header_lower #auth ul li a
{
    font: bold 12px Arial, Verdana, Sans-Serif;
        font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 5px 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

#header_lower #auth ul li a:hover
{
    display: inline;
    background: #eee;
    border: 1px solid silver;
}

/*NAVIGATION*/
.nav
{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-image: url('img/passive_active/fill_passive.png');
    float: left;
}

.nav .search
{
    padding: 0 20px;
    margin: 5px 0;
    float: right;
}

.nav ul
{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-left: 15px;
    padding: 0;
    list-style: none;
}

.nav ul li
{
    position: relative;
    display: inline;
    float: left;
}

.nav ul li a
{
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
    display: block;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px; /*Відстань між кнопками*/ /*ПРИМІТКА: не забувати змінювати відстані картинок*/
}

.nav ul li a:hover
{
    background: #eee;
    border: 1px solid #CCCCCC;
}

.nav ul li ul
{
    background: white;
    visibility: hidden;
    position: absolute;
    display: block;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin: 0;
    left: 0;
}

.nav ul li ul li
{
    display: list-item;
    float: none;
}

.nav ul li ul li a
{
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    width: 100px; /*ширина підменю*/
    background: white;
    padding: 5px 7px;
    margin: 0;
    border: 0;
}

.nav ul li ul li a:hover
{
/*    font-weight: bold;*/
    background: #eee;
    border: 0;
}

.nav ul li ul li ul
{
    top: 0;
}

.downarrowclass
{
    position: absolute;
    top: 7px;
    right: 5px;
    margin: 5px 2px;
}

.rightarrowclass
{
    position: absolute;
    top: 5px;
    right: 5px;
}


#left
{
    float: left;
    width: 80%; /*877px;*/
}

/* "WORK-PLACE" (WILL BE CHANGED WITH "VIEW's") */
#text
{
    width: 95%;
    min-width: 640px;
    position: relative;
    z-index: 1;
    background: white;
    color: black;
    margin: 5px 20px;
}

#text .dyn
{
    padding: 5px 10px;
}

#right
{
    float: right;
    width: 20%;
}

/* litle */
#little
{
    width: 95%;
    min-height: 355px;
    background: white;
    margin: 10px 0px 10px 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border: 1px solid silver;
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5); /*right-shadow*/
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
}

#little ul
{
    list-style: none;
}

#little li
{
    font-size: 100%;
    color: black;
    padding: 5px 10px;
}

#little a
{
    color: black;
}

/*FOOTER*/
#footer
{
    background-image: url('img/passive_active/fill_passive.png');
    color: white;
    font-size: 70%;
    padding: 5px;
    clear: both;
    margin-bottom: 20px;
}

#footer a
{
    color: white;
}

#footer a:hover
{
    color: orange;
    text-decoration: underline;
}

#footer p
{
    padding: 2px;
    text-align: center;
}

.rotate 
{
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);    
}

#toStartPage
{
    z-index: 9950;
    background-color: white;
    color: black;
    position: fixed;
    top:0;
    width: auto;
    padding: 10px 10px;

    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    
    -webkit-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5);
}

#toStartPage:hover
{
    background-color: #eee;
}

#toStartPage a
{
    color: black;
}


/*VerticalMenu_Profile*/
.topnav {
    padding: 40px 28px 25px 0;
    font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
    
    width: 20%;
    float: left;
    background: white;
    border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -webkit-border-radius: 5px 5px 5px 0;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    box-shadow: 5px 0 15px -5px rgba(100,100,100,0.5); /*right-shadow*/
    -webkit-box-shadow: 5px 0 15px -5px rgba(100,100,100,0.5);
    -moz-box-shadow: 5px 0 15px -5px rgba(100,100,100,0.5);
}
 
ul.topnav {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 0.5em;
    list-style: none;
}
 
ul.topnav li {}
 
ul.topnav li a {
    line-height: 10px;
    font-size: 11px;
    padding: 10px 5px;
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bolder;
}
 
ul.topnav li a:hover 
{
    border-radius: 5px 3px 3px 0;
    background-color:#0073ea;
    background-image: url('img/passive_active/fill_passive.png');
    color:white;
}
 
ul.topnav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}
 
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
}
 
ul.topnav ul li a {
    padding-left: 20px;
    font-size: 10px;
    font-weight: normal;
}
 
ul.topnav ul li a:hover {
    border-radius: 5px 3px 3px 0;
    background-color:#0073ea;
    background-image: url('img/passive_active/fill_passive.png');
    color:white;
}
 
ul.topnav ul ul li a {
    color:black;
    padding-left: 40px;
}
 
ul.topnav ul ul li a:hover {
    background-color:#0073ea;
    background-image: url('img/passive_active/fill_passive.png');
    color:white;
}
 
ul.topnav span{
    float:right;
}


/*obj pos*/
.right
{
    float: right;
}

.center
{
    margin: 0 auto;
}

.left
{
    float: left;
}

.text_left
{ text-align: left;}
.text_right
{ text-align: right;}
.text_center
{ text-align: center;}

table.center,table.center2
{
    width: 100%;
}

table.left, table.right
{
    width: 95%;
}

table.center tr td.editor-label
{
    width: 35%;
}

table.center tr td.editor-field
{
    width: 65%;
}

table.left tr td.editor-label, table.right tr td.editor-label
{
    width: 15%;
}

table.left tr td.editor-field, table.right tr td.editor-field
{
    width: 85%;
}

table.center2 tr td
{
     font-size: 14px;
     width: 50%;
}