/*GLOBAL STYLE*/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    text-shadow: 0px 0px 0px blue;
}

h1,h2,h3,h4,h5,h6
{
    color: black;
    font-family: Arial, Verdana, Sans-Serif;
    margin: 5px 0;
    text-align: center;
    text-shadow: 1px 1px 0px silver;
}

.error
{
    font-size: 75%;
    color: #555;
    font-style: italic;
}

a
{
    color:silver;
    text-decoration: none;
}

a:hover
{
    color: orange;
}

body
{
    background: black;
    background-image: url('img/background/background_book.png');
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    font-family: Arial, Verdana, Sans-Serif;
}

.box_shdw_right
{
    width: 17.5%;
    float: left;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-right: 1px solid silver;
    box-shadow: 5px 0 15px -5px rgba(100,100,100,0.5); /*right-shadow*/
}

.box_shdw_bottom
{
    width: 80%;
    float: right;
    margin-left: 5px;
    margin-bottom: 25px;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-bottom: 1px solid silver;
    box-shadow: 0 5px 15px -5px rgba(100,100,100,0.5); /*right-shadow*/
}

.box_shdw_right div
{
    padding: 3px 1px;
    border-bottom: 1px solid silver;
}

.box_shdw_right div a
{
    color: black;
}

.position_bottom_left
{
    position: absolute;
    top: 300px;
}

.clearfloat
{
    clear: both;
}

.item
{
    margin: 10px 0;
    padding: 5px;
}

.item .notactive
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    color: black;
    background: #eee;
    background-image: url('img/passive_active/buttonpattern_passive.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    }

.item li
{
    list-style: none;
}

.item .no_button a, .item .no_button input
{
    color: silver;
    border: 0;
    padding: 0;
    margin: 0;
    font-style: italic;
    -webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
}

.item .no_button a:hover, .item .no_button input:hover
{
    color: orange;
    background: none;
}

.item a, .item input
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    color: black;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.item a:hover, .item input:hover
{
    background: #eee;
}

.item .current_page
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    color: black;
    background: #eee;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#formation
{
    margin: 3%;
}

.editor-label
{
    width: 45%;
    text-align: right;
    margin: 0;
    font: 14px Arial, Verdana, Sans-Serif;
}

.editor-field
{
    width: 55%;
    margin: auto;
}

.editor-field .textboxarea
{
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    font: 12px Arial, Verdana, Sans-Serif;
    padding: 3px;
    margin: 5px 0;
    color: black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    
}

.editor-field .editor
{
    min-width: 300px;
    max-width: 300px;
    font: 12px Arial, Verdana, Sans-Serif;
    padding: 3px;
    margin: 5px 0;
    color: black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    
}

/*news*/
.title
{
    font-size: 130%;
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    background-image: url('img/passive_active/fill_passive.png');
    padding: 0;
    text-shadow: 1px 1px 0px black;
}

.prologue
{
    margin: 5px 0;
    padding: 5px;
    border: 1px;
    border-style: dotted;
    border-color: Black;
    font-size: 75%;
    color: #555;
    font-style: italic;
}

.item .prologue
{
    margin: 10px 0;
}

.time-author
{
    font-size: 75%;
    color: #333;
    font-style: normal;
    text-align: right;
}

/*ACTIVE PLACE ON PAGE*/
#container
{
    height: 100%;
    background: white;
    min-width: 827px;
    width: 92%;
    margin: 0 auto 25px; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#full_header
{
    width: 100%;
    height:225px;
    z-index:1;
    position:relative;
}

/*HEADER*/
#header
{
    min-width: 827px;
    width: 92%;
    margin: 0 auto; 
}

#header_logo
{
    width: 20%;
    height: 100%;
    margin: auto;
    float: left;
}

#header_upper
{
    width: 80%;
    height: 20%;
    margin: auto;
    float: left;
}

#header_upper #ua
{
    background: white;
    padding: 5px;
    padding-left: 10px;
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_ua.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
}

#header_upper #ru
{
    background: white;
    padding: 5px;
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_ru.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

#header_upper #us
{
    background: white;
    padding: 5px;
    padding-right: 10px;
    width: 32px;
    height: 24px;
    background-image: url('img/flags/flag_us.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    border-radius: 0 0 10px 0;
    -moz-border-radius:  0 0 10px 0;
    -webkit-border-radius:  0 0 10px 0;
}

#header_middle
{
    width: 80%;
    height: 60%;
    margin: auto;
    float: left;
}

#header_lower
{
    width: 80%;
    height: 20%;
    margin: auto;
    float: left;
}

#header_lower #auth
{
    color: black;
    float: right;
    margin: 20px 20px 0 0;
    background-color: white;
    padding: 10px 15px 11px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#header_lower #auth ul li
{
    display: inline;
    list-style: none;
}

#header_lower #auth ul li a
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    color: black;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#header_lower #auth ul li a:hover
{
    display: inline;
    font: bold 12px Arial, Verdana, Sans-Serif;
    background: #eee;
    border: 1px solid #CCCCCC;
    color: black;
    padding: 5px 7px;
    margin: 5px 7px 5px 0;
}

/*NAVIGATION*/
.nav
{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-image: url('img/passive_active/fill_passive.png');
    float: left;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.nav .search
{
    padding: 0 20px;
    margin: 5px 0;
    float: right;
}

.nav ul
{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-left: 15px;
    padding: 0;
    list-style: none;
}

.nav ul li
{
    position: relative;
    display: inline;
    float: left;
}

.nav ul li a
{
    font: bold 12px Arial, Verdana, Sans-Serif;
    color: black;
    display: block;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 7px;
    margin: 5px 7px; /*Відстань між кнопками*/ /*ПРИМІТКА: не забувати змінювати відстані картинок*/
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.nav ul li a:hover
{
    background: #eee;
    border: 1px solid #CCCCCC;
}

.nav ul li ul
{
    background: white;
    visibility: hidden;
    position: absolute;
    display: block;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin: 0;
    left: 0;
}

.nav ul li ul li
{
    display: list-item;
    float: none;
}

.nav ul li ul li a
{
    font: normal 12px Arial, Verdana, Sans-Serif;
    color: #000;
    width: 100px; /*ширина підменю*/
    background: white;
    padding: 5px 7px;
    margin: 0;
    border: 0;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.nav ul li ul li a:hover
{
    font-weight: bold;
    background: #eee;
    border: 0;
    color: #000;
}

.nav ul li ul li ul
{
    top: 0;
}

.downarrowclass
{
    position: absolute;
    top: 7px;
    right: 5px;
    margin: 5px 2px;
}

.rightarrowclass
{
    position: absolute;
    top: 5px;
    right: 5px;
}


#left
{
    float: left;
    width: 80%; /*877px;*/
}

/* "WORK-PLACE" (WILL BE CHANGED WITH "VIEW's") */
#text
{
    width: 95%;
    min-width: 640px;
    position: relative;
    z-index: 1;
    background: white;
    color: black;
    margin: 5px 20px;
}

#text .dyn
{
    padding: 5px 10px;
}

#right
{
    float: right;
    width: 20%;
}

/* litle */
#little
{
    width: 95%;
    min-height: 355px;
    background: white;
    margin: 10px 20px 10px 0;
    background-image: url('img/background/background.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#little ul
{
    list-style: none;
}

#little li
{
    font-size: 100%;
    color: black;
    padding: 5px 10px;
}

#little a
{
    color: black;
}

/*FOOTER*/
#footer
{
    background-image: url('img/passive_active/fill_passive.png');
    color: white;
    font-size: 70%;
    padding: 5px;
    clear: both;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    margin-bottom: 20px;
}

#footer a
{
    color: white;
}

#footer a:hover
{
    color: orange;
    text-decoration: underline;
}

#footer p
{
    padding: 2px;
    text-align: center;
}

