.title
{
    background-image: url('img/passive_active/fill_active.png');
}

#header_logo #messages a.active 
{
    background-image: url('img/passive_active/fill_active.png');
}

.nav
{
    background-image: url('img/passive_active/fill_active.png');
}

#footer
{
    background-image: url('img/passive_active/fill_active.png');
}

ul.topnav li a:hover 
{
    background-image: url('img/passive_active/fill_active.png');
}

ul.topnav ul li a:hover {
    background-image: url('img/passive_active/fill_active.png');
}

ul.topnav ul ul li a:hover {
    background-image: url('img/passive_active/fill_passive.png');
}

.message:hover
{
    
}