@model DistanceLessons.Models.Category

@{
    ViewBag.Title = "Видалення категорії";
}

<h2>Видалення категорії</h2>

<h3>Ви дійсно бажаєте видалити категорію?</h3>
<fieldset>
    <legend>Категорія</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @*<input type="submit" value="Delete" /> |*@
        @Html.ActionLink("Back to List", "Categories")
    </p>
}
