@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сторінка студента</h2>

@Html.ActionLink("Здати тестування", "PassModule", "Test", new { id = ViewBag.ModuleId })

 