@model DistanceLessons.Models.News

@{
    ViewBag.Title = "Детальніше про: "+Model.Title;
}

@using DistanceLessons.Helpers
<h2>@Model.Title</h2>
    <div>
        @Html.TextHtml(Model.Text)
    </div>
    <br/>
<div class="time-author">-@Model.User.Login, @Model.Publication</div>

<div class="item">
    @Ajax.ActionLink("До списку всіх новин", "Index", new AjaxOptions() { UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace })
</div>
