@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<ul>
        
         @foreach (DistanceLessons.Models.DataEntitiesManager.RQCategorys i in ViewBag.Categories)
         {
             <li>@Html.ActionLink(i.title, "Courses", "Home", i,null) </li>
             
         }

     
   </ul>  
