@{
    ViewBag.Title = "Тестовий запит";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>

                      @foreach (DistanceLessons.Models.DataEntitiesManager.RQCourses i in ViewBag.A.QCourses())
                      {
                          <h3>@i.title</h3>
                          <ul>
                          @foreach (DistanceLessons.Models.DataEntitiesManager.RQLessons j in ViewBag.A.QLessons(i.title))
                          {<li>@j.title</li>}
                          </ul>
                      }
    </div>
</section>
}
<section class="features">
   
</section>